.background-0 {
    -fx-background-color: white;
}

.background-1 {
    -fx-background-color: #d9d9d9;
}

.background-2 {
    -fx-background-color: #bdbdbd;
}

.green-accent {
    -fx-background-color: #8af88a;
}

.hover-background-2:hover {
    -fx-background-color: #b2b2b2;
}

.line-fill-1 {
    -fx-stroke: #333;
}

.text-fill-0 {
    -fx-text-fill: black;
}

.text-fill-1 {
    -fx-text-fill: #333;
}

.border-radius-0 {
    -fx-background-radius: 10px;
}

.border-radius-1 {
    -fx-background-radius: 50%;
}

.border-color-0 {
    -fx-border-color: black;
}

.border-color-1 {
    -fx-border-color: #333;
}

.drop-shadow-0 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.1, 0.0, 0.0);
}

.fancy-input-selected-text-fill {
    -fx-text-fill: #2CA1FF;
}

.fancy-input-selected-border-fill {
    -fx-border-color: #2CA1FF;
}

.fancy-input-warn-text-fill {
    -fx-text-fill: red;
}

.fancy-input-warn-border-fill {
    -fx-border-color: red;
}

.fancy-input-normal-text-fill {
    -fx-text-fill: #333;
}

.fancy-input-normal-border-fill {
    -fx-border-color: #333;
}